<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rediriger vers public/index.php sans afficher .php dans l'URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
